# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files
*.js text
*.json text
*.md text
*.css text
*.html text
*.go text

# Denote binary files
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.webp binary
*.woff2 binary
